@import "tailwindcss";

body, #root {
  @apply text-gray-700 bg-white dark:bg-gray-800 dark:text-white;
}

button {
  @apply cursor-pointer;
}

a {
  @apply hover:underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer components {
  .container-7xl {
    @apply max-w-7xl px-3 mx-auto;
  }

  .btn-1,
  .btn-2,
  .btn-3 {
    @apply duration-300 ease-in-out;
  }

  .btn-1 {
    @apply bg-rose-500 text-white hover:bg-rose-600;
  }

  .btn-2 {
    @apply bg-white border border-gray-300 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700;
  }

  .btn-3 {
    @apply hover:bg-gray-200
  }

  .card {
    @apply duration-300;
    transition-delay: var(--delay, 0);
  }

  .loading .card {
    @apply translate-y-10 opacity-0;
  }

  .favorite {
    clip-path: polygon(19% 0, 81% 0, 100% 100%, 0 100%);
  }
}

@utility hidden-onscroll {
  animation: hidden-onscroll auto linear forwards;
  animation-timeline: --page-scroll;
}

@utility block-onscroll {
  @apply absolute opacity-0;
  animation: block-onscroll auto linear forwards;
  animation-timeline: --page-scroll;
}

@utility shadow-onscroll {
  animation: shadow-onscroll auto linear forwards;
  animation-timeline: --page-scroll;
}

@layer utilities {
  html {
    scroll-timeline: --page-scroll block;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  @keyframes hidden-onscroll {

    0.1%,
    100% {
      display: none;
    }
  }

  @keyframes block-onscroll {
    0% {
      position: initial;
      display: none;
      opacity: 0;
    }

    0.1%,
    100% {
      position: initial;
      display: block;
      opacity: 1;
    }
  }

  @keyframes shadow-onscroll {

    0.1%,
    100% {
      --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
        0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }
}